<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera.any" android:required="false" />
    <uses-feature android:name="android.hardware.camera.raw" android:required="false" />

    <application
        android:name=".TruthRawSuiteApplication"
        android:allowBackup="false"
        android:label="TruthRaw Suite"
        android:theme="@android:style/Theme.Material.NoActionBar">

        <activity android:name=".TruthRawSuiteLauncherActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".TruthRawCrashReportActivity" android:screenOrientation="portrait" android:exported="false" />
        <activity android:name=".FotoGraaf200MpEntryActivity" android:screenOrientation="portrait" android:exported="false" />
        <activity android:name=".FotoGraaf200MpStagedActivity" android:screenOrientation="portrait" android:launchMode="singleTop" android:exported="false" />
        <activity android:name=".FotoGraaf200MpTestActivity" android:screenOrientation="portrait" android:launchMode="singleTop" android:exported="false" />

        <activity android:name=".MainActivity" android:exported="false" />
        <activity android:name="io.truthraw.debug.MainActivity" android:screenOrientation="portrait" android:exported="false" />
        <activity android:name=".FotoGraafPermissionGateActivity" android:exported="false" />
        <activity android:name=".FotoGraafDiagnosticBootstrapActivity" android:screenOrientation="portrait" android:launchMode="singleTop" android:exported="false" />
        <activity android:name=".FotoGraafSafePreviewActivity" android:screenOrientation="portrait" android:launchMode="singleTop" android:exported="false" />
        <activity android:name=".FotoGraafLiveCameraActivity" android:screenOrientation="portrait" android:launchMode="singleTop" android:exported="false" />
        <activity android:name=".FotoGraafProCameraActivity" android:screenOrientation="portrait" android:launchMode="singleTop" android:exported="false" />
        <activity android:name=".FotoGraafCameraActivity" android:exported="false" />
    </application>
</manifest>
