<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-feature android:name="android.hardware.camera.any" android:required="false" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="TruthRaw Suite"
        android:localeConfig="@xml/locales_config">

        <activity
            android:name="com.truthraw.adaptiveui.SuiteLauncherActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.truthraw.adaptiveui.OutputModeActivity"
            android:exported="false" />

        <activity
            android:name="com.truthraw.adaptiveui.MainActivity"
            android:exported="false" />

        <activity
            android:name="com.truthraw.fotograafcapture.MainActivity"
            android:exported="false" />
    </application>
</manifest>
